<div class="poll-container">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar top-bar"></span>
          <span class="icon-bar middle-bar"></span>
          <span class="icon-bar bottom-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">
          Digital Poll
        </a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <div class="form-group">
              <select class="form-control">
                <option>Andhra Pradesh</option>
                <option>Telangana</option>
              </select>
            </div>
          </li>
          <li>
            <div class="form-group">
              <select class="form-control">
                <option>Kuppam</option>
                <option>Palamaner</option>
              </select>
            </div>
          </li>
          <li>
            <div class="form-group">
              <select class="form-control">
                <option>517425</option>
                <option>517408</option>
              </select>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="main-container">
    <div class="section-container">
      <h1>National Politics</h1>
      <div class="inner-container row">
        <h2>Top PM Candidates</h2>
        <div class="member">
          <div class="member-tile">
            <div class="member-tile-img-wrap">
              <img class="member-tile-img img-responsive" src="../../../assets/images/modi.jpg" alt="Narendra Modi">
              <img class="member-tile-img-flag img-responsive" src="../../../assets/images/bjp.jpg" alt="bjp-flag">
            </div>
            <div class="member-tile-content">
              <h3>Narendra Modi</h3>
              <p>Prime Minister of India</p>
            </div>
            <div class="member-tile-footer">
              <div class="member-tile-likes">
                <img src="../../../assets/images/like-symbol.png" alt="Like">
                <span>70%</span>
              </div>
            </div>
          </div>
          <div class="member-tile">
            <div class="member-tile-img-wrap">
              <img class="member-tile-img img-responsive" src="../../../assets/images/rahul-gandhi.jpg" alt="Rahul Gandhi">
              <img class="member-tile-img-flag img-responsive" src="../../../assets/images/congress.png" alt="congress-flag">
            </div>
            <div class="member-tile-content">
              <h3>Rahul Gandhi</h3>
              <p>President of the Indian National Congress</p>
            </div>
            <div class="member-tile-footer">
              <div class="member-tile-likes">
                <img src="../../../assets/images/like-symbol.png" alt="Like">
                <span>30%</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <h1>State Politics</h1>
      <div class="inner-container row">
        <h2>TOP CM Candidates</h2>
        <div class="member">
          <div class="member-tile">
            <div class="member-tile-img-wrap">
              <img class="member-tile-img img-responsive" src="../../../assets/images/chandrababu-naidu.jpg" alt="Chandrababu Naidu">
              <img class="member-tile-img-flag img-responsive" src="../../../assets/images/tdp.jpeg" alt="tdp-flag">
            </div>
            <div class="member-tile-content">
              <h3>Nara Chandrababu Naidu</h3>
              <p>Leader, President, Chairperson, Parliamentary Chairperson, Chief Minister of Andhra Pradesh</p>
              <p><strong>Kuppam Constituency</strong></p>
            </div>
            <div class="member-tile-footer">
              <div class="member-tile-likes">
                <img src="../../../assets/images/like-symbol.png" alt="Like">
                <span>48%</span>
              </div>
            </div>
          </div>
          <div class="member-tile">
            <div class="member-tile-img-wrap">
              <img class="member-tile-img img-responsive" src="../../../assets/images/jagan.jpg" alt="Jaganmohan Reddy">
              <img class="member-tile-img-flag img-responsive" src="../../../assets/images/ysrcp.jpg" alt="ysrcp-flag">
            </div>
            <div class="member-tile-content">
              <h3>Y. S. Jaganmohan Reddy</h3>
              <p>Leader of Opposition in Andhra Pradesh, Legislative Assembly, Member of the India Parliament (Kadapa)</p>
              <p><strong>Kuppam Constituency</strong></p>
            </div>
            <div class="member-tile-footer">
              <div class="member-tile-likes">
                <img src="../../../assets/images/like-symbol.png" alt="Like">
                <span>34%</span>
              </div>
            </div>
          </div>
          <div class="member-tile">
            <div class="member-tile-img-wrap">
              <img class="member-tile-img img-responsive" src="../../../assets/images/pawan-kalyan.jpeg" alt="Pawan Kalyan" class="img-responsive">
              <img class="member-tile-img-flag img-responsive" src="../../../assets/images/janasena.jpg" alt="janasena-flag" class="img-responsive">
            </div>
            <div class="member-tile-content">
              <h3>Pawan Kalyan</h3>
              <p>Leader and Founder of Janasena Party</p>
              <p><strong>Kuppam Constituency</strong></p>
            </div>
            <div class="member-tile-footer">
              <div class="member-tile-likes">
                <img src="../../../assets/images/like-symbol.png" alt="Like">
                <span>18%</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="side-section">
      <a href="survey.html" class="btn btn-primary">Take a Survey</a>
      <h2>Opinion Polls</h2>
      <div class="chart-wrap">
        <label>Who will you vote for as PM candidate if general elections were held today?</label>
        <ul class="chart">
          <li>
            <span class="green" style="height:70%" title="Modi">
              <label>70%</label>
            </span>
          </li>
          <li>
            <span class="red" style="height:50%" title="Rahul">
              <label>50%</label>
            </span>
          </li>
          <li>
            <span class="blue" style="height:15%" title="Others">
              <label>15%</label>
            </span>
          </li>
        </ul>
      </div>
      <div class="chart-wrap">
        <label>Who will you vote for as PM candidate if general elections were held today?</label>
        <ul class="chart">
          <li>
            <span class="green" style="height:70%" title="Modi">
              <label>70%</label>
            </span>
          </li>
          <li>
            <span class="red" style="height:50%" title="Rahul">
              <label>50%</label>
            </span>
          </li>
          <li>
            <span class="blue" style="height:15%" title="Others">
              <label>15%</label>
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <footer>
    <a class="navbar-brand" href="#">
      Digital Poll
    </a>
    <p>2018 &copy; Copyrights reserved.</p>
  </footer>
</div>
